<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Physical space info</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link rel="stylesheet" href="../css/shards.min.css">
</head>
	<body>		
		<div class="container my-5">
			<h2>Physical space information</h2>
			<br>
			<div class="card" th:object="${physicalspace}" th:action="@{/physicalSpaces/info/{id}(id=${physicalspace.physpcId})}">			
				<div class="card-body">
					<h5 class="card-title">ID</h5>
					<p class="card-text" th:text="*{physpcId}">Main Content</p>
				</div>
				<br>
				<div class="card-body">
					<h5 class="card-title">External ID</h5>
					<p class="card-text" th:text="*{physpcExtid}">Main Content</p>
				</div>
				<br>
				<div class="card-body">
					<h5 class="card-title">Name</h5>
					<p class="card-text" th:text="*{physpcName}">Main Content</p>
				</div>
				<br>
				<div class="card-body">
					<h5 class="card-title">Campus</h5>
					<a th:href="@{/campus/info/{id}(id=*{institutioncampus.instcamId})}"><p class="card-text" th:text="*{institutioncampus.instcamName}">Main Content</p></a>
				</div>
				<br>
				<div class="card-body">
					<h5 class="card-title">Type</h5>
					<a th:href="@{/physicalSpaceTypes/info/{id}(id=*{physicalspacetype.physpctypeId})}"><p class="card-text" th:text="*{physicalspacetype.physpctypeName}">Main Content</p></a>
				</div>
				<br>
				<div class="card-body">
					<a href="/physicalSpaces/" class="btn btn-large btn-success">Back to table</a>
				</div>
			</div>
		</div>
	</body>
</html>