<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Campus info</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link rel="stylesheet" href="../css/shards.min.css">
</head>
	<body>		
		<div class="container my-5">
			<h2>Campus Information</h2>
			<br>
			<div class="card" th:object="${institutioncampus}" th:action="@{/campus/info/{id}(id=${institutioncampus.instcamId})}">			
				<div class="card-body">
					<h5 class="card-title">ID</h5>
					<p class="card-text" th:text="*{instcamId}">Main Content</p>
				</div>
				<br>
				<div class="card-body">
					<h5 class="card-title">Campus name</h5>
					<p class="card-text" th:text="*{instcamName}">Main Content</p>
				</div>
				<br>
				<div class="card-body">
					<h5 class="card-title">Occupation</h5>
					<p class="card-text" th:text="*{instcamOccupation}">Main Content</p>
				</div>
				<br>
				<div class="card-body">
					<h5 class="card-title">Institution</h5>
					<a th:href="@{/institutions/info/{instid}/campus/{campusid}(instid=*{institution.instId}, campusid=*{instcamId})}"><p class="card-text" th:text="*{institution.instName}">Main Content</p></a>					
				</div>
				<br>
				<div class="card-body">
					<a th:if="${physicalspace != null}" th:href="@{/physicalSpaces/info/{id}(id=${physicalspace.physpcId})}" class="btn btn-large btn-success">Return to physical space</a>
					<a th:if="${physicalspace == null}" href="/campus/" class="btn btn-large btn-success">Back to table</a>
				</div>
			</div>
		</div>
	</body>
</html>